№3.1

- Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices

- Считать данные с помощью pandas

- Вывести на экран первые 5 строк

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv('laptop_price.csv', encoding='1251' )

In [71]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

- Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU (Intel, AMD и т.д)

In [72]:
def vstavka(stroki):
    return stroki.split()[0]

In [73]:
df['Cpu_Company'] = df['Cpu'].apply(vstavka)

In [74]:
df[['Cpu_Company', 'Cpu']]

     Cpu_Company                                   Cpu
0          Intel                  Intel Core i5 2.3GHz
1          Intel                  Intel Core i5 1.8GHz
2          Intel            Intel Core i5 7200U 2.5GHz
3          Intel                  Intel Core i7 2.7GHz
4          Intel                  Intel Core i5 3.1GHz
...          ...                                   ...
1298       Intel            Intel Core i7 6500U 2.5GHz
1299       Intel            Intel Core i7 6500U 2.5GHz
1300       Intel  Intel Celeron Dual Core N3050 1.6GHz
1301       Intel            Intel Core i7 6500U 2.5GHz
1302       Intel  Intel Celeron Dual Core N3050 1.6GHz

[1303 rows x 2 columns]

In [75]:
df['Cpu_Company'].value_counts()

Cpu_Company
Intel      1240
AMD          62
Samsung       1
Name: count, dtype: int64

- Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя (128, 1024, 256 и т.д.)

In [76]:
def summemory(stroka):
    return int(float(stroka.split()[0][:-2]))

In [77]:
df['Memory_Amount'] = df['Memory'].apply(summemory)

In [78]:
df['Memory_Amount'].value_counts()

Memory_Amount
256    508
1      250
128    177
512    140
500    132
32      45
64      17
2       16
16      10
180      5
240      1
8        1
508      1
Name: count, dtype: int64

- Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD, SDD и т.д.)

In [79]:
def endmemory(strochka):
    return strochka.split()[1]

In [80]:
df['Memory_Type'] = df['Memory'].apply(endmemory)

In [81]:
df['Memory_Type'].value_counts()

Memory_Type
SSD       843
HDD       375
Flash      75
Hybrid     10
Name: count, dtype: int64

- Удалите признаки Memory и ScreenResolution

In [82]:
df.drop(columns= ['Memory', 'ScreenResolution'], inplace=True)

In [83]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

№3.2

- Создайте признак SSD, который изначально равен 0

- Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

- Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [84]:
df['SSD'] = 0
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,0
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,0
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,0

In [85]:
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,1

In [86]:
df['Weight'] = df['Weight'].str.replace('kg', '')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1

In [87]:
df['Weight'] = df['Weight'].astype(float)

In [89]:
df['Weight'].dtype

dtype('float64')

№3.3

- Создайте датафрейм с клиентами:

clients = pd.DataFrame({

'client_id': [45, 32, 67, 33, 43],

'laptop_id': [506, 398, 710, 120, 1999]

})

laptop_id - это индексы датафрейма с ноутбуками

- Присоедините к таблице clients данные по ноутбукам через метод join

- Присоедините к таблице clients данные по ноутбукам через метод merge. Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [90]:
clients= pd.DataFrame({'client_id': [45, 32, 67, 33, 43], 'laptop_id': [506, 398, 710, 120, 1999]})

In [92]:
clients_id = clients.set_index('laptop_id')

In [93]:
clients_id.join(df)

,client_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,,
506,45,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,256.0,SSD,1.0
398,32,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256.0,SSD,1.0
710,67,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,128.0,SSD,1.0
120,33,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1.0,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,Flash,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1

In [95]:
df.iloc[506]

laptop_ID                               513
Company                                Asus
Product              ZenBook UX510UX-CN211T
TypeName                           Notebook
Inches                                 15.6
Cpu              Intel Core i7 7500U 2.7GHz
Ram                                     8GB
Gpu                   Intel HD Graphics 620
OpSys                            Windows 10
Weight                                  2.0
Price_euros                          1224.0
Cpu_Company                           Intel
Memory_Amount                           256
Memory_Type                             SSD
SSD                                       1
Name: 506, dtype: object

In [96]:
merged = clients.merge(df, left_on= 'laptop_id', right_on= df.index, how='left')

In [98]:
merged

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,513.0,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,256.0,SSD,1.0
1,32,398,405.0,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256.0,SSD,1.0
2,67,710,718.0,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,128.0,SSD,1.0
3,33,120,123.0,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1.0,HDD,0.0
4,43,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

№3.4

Составьте несколько сводных таблиц

- Найдите среднюю стоимость ноутбуков в зависимости от компании производителя. Отсортируйте от меньшей стоимости к большей

- Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

- Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

- Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [100]:
df.pivot_table(index='Company', values='Price_euros', aggfunc='mean').sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [101]:
df.pivot_table(index='Company', values='Price_euros', aggfunc=[min, max])

                  min         max
          Price_euros Price_euros
Company
Acer           174.00     2599.00
Apple          898.94     2858.00
Asus           191.90     3975.00
Chuwi          244.99      449.00
Dell           274.90     3659.40
Fujitsu        649.00      799.00
Google        1275.00     2199.00
HP             209.00     4389.00
Huawei        1349.00     1499.00
LG            1899.00     2299.00
Lenovo         229.00     4899.00
MSI            839.00     2799.00
Mediacom       239.00      389.00
Microsoft      989.00     2589.00
Razer         1029.00     6099.00
Samsung        269.00     1849.00
Toshiba        447.00     2799.00
Vero           196.00      260.00
Xiaomi         935.00     1399.95

In [104]:
import numpy as np

In [106]:
df.pivot_table(index='Cpu_Company', values='Price_euros', aggfunc=[min, np.mean, max])

                    min         mean         max
            Price_euros  Price_euros Price_euros
Cpu_Company
AMD               199.0   560.638871      2199.0
Intel             174.0  1152.214145      6099.0
Samsung           659.0   659.000000       659.0

In [108]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']})

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

In [114]:
df.pivot_table(index=['Cpu', 'Ram'], aggfunc='size')

Cpu                              Ram
AMD A10-Series 9600P 2.4GHz      6GB     2
AMD A10-Series 9620P 2.5GHz      6GB     1
                                 8GB     1
AMD A10-Series A10-9620P 2.5GHz  4GB     1
                                 6GB     1
                                        ..
Intel Xeon E3-1505M V6 3GHz      16GB    1
                                 8GB     1
Intel Xeon E3-1535M v5 2.9GHz    16GB    1
Intel Xeon E3-1535M v6 3.1GHz    32GB    1
Samsung Cortex A72&A53 2.0GHz    4GB     1
Length: 195, dtype: int64

In [115]:
df.pivot_table(index=['Ram', 'Memory_Amount'], values=['Price_euros'], aggfunc='mean')

                    Price_euros
Ram  Memory_Amount
12GB 1              1051.906000
     2               869.000000
     128            1250.780000
     256            1707.250000
     512            1411.500000
16GB 1              2038.644286
     2               989.990000
     128            1876.586842
     256            1930.858652
     512            1952.229221
24GB 256            1269.000000
     512            2675.000000
2GB  16              199.000000
     32              238.210000
     64              229.000000
     500             379.000000
32GB 1              4177.040000
     256            2472.750000
     512            3405.782500
4GB  1               497.764565
     16              317.200000
     32              338.130000
     64              402.315000
     128             657.713810
     180             915.500000
     256             785.551400
     500             585.609746
     508            1002.000000
64GB 1              3975.000000
6GB  1               571.046667
     2               641.003333
     64              449.000000
     128             719.150000
     256             654.457000
8GB  1               815.621121
     2               572.837000
     8              2249.000000
     64             1215.666667
     128            1078.453690
     180            1220.666667
     240            3100.000000
     256            1261.920914
     500            1149.721818
     512            1639.918571

№3.5

Ответьте на несколько вопросов, используя методы группировки

- Ноутбуков каких компаний и с каким процессором больше?

- С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [117]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'])

Cpu_Company  AMD  Intel  Samsung
Company
Acer          10     93        0
Apple          0     21        0
Asus          11    147        0
Chuwi          0      3        0
Dell           0    297        0
Fujitsu        0      3        0
Google         0      3        0
HP            25    249        0
Huawei         0      2        0
LG             0      3        0
Lenovo        16    281        0
MSI            0     54        0
Mediacom       0      7        0
Microsoft      0      6        0
Razer          0      7        0
Samsung        0      8        1
Toshiba        0     48        0
Vero           0      4        0
Xiaomi         0      4        0

In [118]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'], normalize='all') #columns/index

Cpu_Company       AMD     Intel   Samsung
Company
Acer         0.007675  0.071374  0.000000
Apple        0.000000  0.016117  0.000000
Asus         0.008442  0.112817  0.000000
Chuwi        0.000000  0.002302  0.000000
Dell         0.000000  0.227936  0.000000
Fujitsu      0.000000  0.002302  0.000000
Google       0.000000  0.002302  0.000000
HP           0.019186  0.191097  0.000000
Huawei       0.000000  0.001535  0.000000
LG           0.000000  0.002302  0.000000
Lenovo       0.012279  0.215656  0.000000
MSI          0.000000  0.041443  0.000000
Mediacom     0.000000  0.005372  0.000000
Microsoft    0.000000  0.004605  0.000000
Razer        0.000000  0.005372  0.000000
Samsung      0.000000  0.006140  0.000767
Toshiba      0.000000  0.036838  0.000000
Vero         0.000000  0.003070  0.000000
Xiaomi       0.000000  0.003070  0.000000